[submodule "Kraken-Restaurant"]
	path = Kraken-Restaurant
	url = https://github.com/Rhaegal222/Kraken-Restaurant.git
[submodule "RouterRecon"]
	path = RouterRecon
	url = https://github.com/Rhaegal222/RouterRecon.git
[submodule "WyrmrestProject"]
	path = WyrmrestProject
	url = https://github.com/Rhaegal222/WyrmrestProject.git
[submodule "Password-Generator"]
	path = Password-Generator
	url = https://github.com/Rhaegal222/Password-Generator.git
[submodule "vecchiofrancesco.it"]
	path = vecchiofrancesco.it
	url = https://github.com/Rhaegal222/vecchiofrancesco.it.git
[submodule "wyrmrest.com"]
	path = wyrmrest.com
	url = https://github.com/Rhaegal222/wyrmrest.com.git
